.comingsoon{
  max-width: 40%;
  margin: auto;
  padding-top: 20%;
  
}

p{
    border: #22468f;
    text-align: center;
    border-style: solid;
    border-width: 10px;
    font-family: 'Roboto',sans-serif;
    font-weight: 100;
    font-size: 35px; 
    padding: 1%;
  
}

@media screen and (min-width: 640px) {
p{
 font-size: 20px; 
  
  }
}